.nav{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 180px;
}
.item{
    margin-bottom: 1px;
    width: 184px;
    height: 28px;
    font-family: inherit;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.item a{
    color:#4d6da9;
    background: #e9ebee;
    text-decoration: none;
}
.item a.activeLink{
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
