.nav{
    display: flex;
    flex-direction: column;
    width: 180px;
}
.item{
    padding-top: 10px;
}

.item a{
    color:#000;
    background: #e9ebee;
    text-decoration: none;
}
.item a.activeLink{
    color:#000;
    background-color: #F2F3F5;
    border: 1px #000 solid;
    font-weight: bold;
    box-sizing: border-box;
}